{% extends "layout.html" %}

{% block content %}

<section class="hero">

    <h1>
        Plataforma de Métodos Numéricos
    </h1>

    <p>
        Aplicación interactiva desarrollada para resolver problemas de métodos numéricos mediante herramientas gráficas, análisis de errores y algoritmos iterativos.
    </p>

    <div class="chapter-container">

        <div class="chapter-card">
            <h2>Capítulo 1</h2>

            <p>
                Métodos iterativos para aproximación de raíces:
                bisección, Newton, secante, regla falsa y raíces múltiples.
            </p>
        </div>

        <div class="chapter-card">
            <h2>Capítulo 2</h2>

            <p>
                Solución de sistemas lineales usando Jacobi,
                Gauss-Seidel y SOR con análisis de convergencia.
            </p>
        </div>

        <div class="chapter-card">
            <h2>Capítulo 3</h2>

            <p>
                Interpolación polinómica y splines utilizando
                Vandermonde, Lagrange y Newton interpolante.
            </p>
        </div>

    </div>

</section>

{% endblock %}